<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Responsive vertical menu navigation</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="main.css">

		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/data.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		

		<style>
            body{
                overflow-x: hidden;
            }
			.ad {
				position: absolute;
				width: 300px;
				height: 250px;
				border: 1px solid #ddd;
				left: 50%;
				transform: translateX(-50%);
				top: 250px;
				z-index: 10;
			}
			.ad .close {
				position: absolute;
				font-family: 'ionicons';
				width: 20px;
				height: 20px;
				color: #fff;
				background-color: #999;
				font-size: 20px;
				left: -20px;
				top: -1px;
				display: table-cell;
				vertical-align: middle;
				cursor: pointer;
				text-align: center;
			}
			ul li{
				list-style: none;
			}
			.entreprise div div img{
				margin-top: 6px;

			}
			.entreprise div .ul{
				margin-top: 5px;
			}
			.entreprise{
				margin: 10px;
			}
			.btn-En{
				display: flex;
				justify-content: center;
				margin: 10px;
			}
            .all{
                margin-top: 100px;
            }
		</style>
<script>$(document).ready(function() {
	$('.nav-trigger').click(function() {
		$('.side-nav').toggleClass('visible');
	});
});
</script>
	</head>
	<body>
		<div class="header">
			<div class="logo">
				<i class="fa fa-tachometer"></i>
				<span>Gomy</span>
			</div>
			<a href="#" class="nav-trigger"><span></span></a>
			
		</div>
		<div class="side-nav">
			<div class="logo">
				<i class="fa fa-tachometer"></i>
				<span>Gomy</span>
				
			</div>
			<nav>
				<ul>
					<li>
						<a href="/home">
							<span><i class="fa fa-user"></i></span>
							<span>Liste Entreprise</span>
						</a>
					</li>
				
					<li class="active">
						<a href="/rechercheS">
							<span><i class="fa fa-bar-chart"></i></span>
							<span>recherche salarie</span>
						</a>
					</li>
				
				</ul>
			</nav>
		</div>
		<div class="main-content">
			<div class="title col-12 d-flex justify-content-center">
				Liste Departement
			</div>
            <form method="POST">
				<div class=" all row d-flex justify-content-center">
                    
                    <% for(i in data) {%>
					<div class=" entreprise col-lg-4 col-md-6 col-12 border border-dark">
                
                      <div class="row">
					   <div class=" ul col-4" >
						<img src="youcode.jpg" width="100px" height="90px"></div>
					   <div class=" ul col-8">
                        <p>Departement:&nbsp;<%= data[i].nomDepartement %></p> 
					   </div>
					   <div class=" btn-En col-12">
						   <button href="/departement.ejs" type="submit" formaction="/departement?nomD=<%= data[i].nomDepartement%>" class="btn btn-primary btn-md">voir les informations</button>&nbsp;
                       </div>
                   
					  </div>
					
                    </div><!--/entreprise -->
                    <% } %>
					</div><!--/row -->
				</form>
            
                    </div>
	
				

			</div><!--/main-content -->
	
	</body>
</html>